* {
  margin: 0;
}

@mixin circle {
  border-radius: 50%;
  width: 60%;
  background-color: grey;
  height: 0em;
  padding-bottom: 60%;
  margin: auto;
  margin-top: 0.3em;
}

@mixin square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-style: solid;
  border-color: white;
  border-width: 0.1em;
  cursor: pointer;
  background-color: #A8DADC;
}

@mixin headingContainer {
  text-align: center;
  padding: 0.4em;
  font-size: 1em;
  color: white;
  max-width: 100%;
}

@mixin mainSection {
  min-width: 50%;
}

@mixin btn {
  cursor: pointer;
  border-style: none;
  padding: 0.6em;
  font-size: 1em;
  width: 100%;
  font-weight: 600;
  border-radius: 22px;
}

body {
  font-family: "Black Ops One", cursive;
}

.page-heading {
	text-align: center;
	font-size: 3.2rem;
}

.game-reset-container {
  display: flex;
  justify-content: center;
}

.game-reset-btn {
  @include btn;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}


.grid-square.ship-placed {
  @include square;
  background-color: rgba(128, 128, 128, 0.329);
  border-radius: 2px;
}

.ship-circle {
  @include circle();
  background-color: grey;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .player-section {
    @include mainSection();
  }

  .opponent-section {
    @include mainSection();
  }
  
  .player-section-heading-container {
    @include headingContainer();
    background-color: #457B9D;
  }

  .opponent-section-heading-container {
    @include headingContainer();
    background-color: #E63946;
  }

  .ship-counts {
    display: flex;
    justify-content: space-around;
  }

  .ship-count-container {
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    flex-direction: column;
  }

  .ship-name {
    margin-right: 0.3em;
  }

  .ship-count-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ship-count-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-status {
    margin-bottom: 2em;
    border: 4px solid black;
    background-color: #457b9d;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
  }

  .game-status-message {
    opacity: 0;
    display: none;
  }

  .game-status-message.shown {
    display: block;
    opacity: 1;
    animation-name: reveal;
    animation-duration: 1s;
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .play-again-btn-container {
    display: none;
  }

  .play-again-btn {
    @include btn();
    margin-bottom: 1em;
    font-size: 1.1em;
    border-style: solid;
    padding: 0.8em;
  }
}

.grid-wrapper {

  .ships-grid {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .grid-square {
    @include square();
  }

  .grid-square:hover {
    background-color: #D6ECE5;
  }

  .missed-circle {
    @include circle();
    background-color: #1D3557;
  }

  .hit-circle {
    @include circle();
    background-color: #E63946;
  }
}

.ship-placement-modal{
  display: block;
  position: fixed;
  z-index: 1;
  padding: 2rem 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);

  .ship-placement-container {
    background-color: #F1FAEE;
    margin-top: 2em;
    max-width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 8px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.8em;
  }

  .rotate-info {
    text-align: center;
  }

  .ship-placement-heading {
    text-align: center;
  }

  .placement-grid-wrapper {
    max-width: 60%;
    margin: auto;
    padding-bottom: 0.1em;
  }

  .display-container {
    max-width: 100%;
    text-align: center;
  }

  .placed-ship-display {
    @include square;
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 2px;
    width: 0%;
    min-width: 6%;
    padding-bottom: 6%;
  }

  .ship-display {
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
  }

  .placement-grid {
    margin-bottom: 2em;
  }

  .placement-btns-container {
    display: flex;
    justify-content: space-evenly;
  }

  .placement-btn {
    @include btn();
  }

  .random-btn {
    margin: 0 0.4em;
  }

  .grid-square.placement-square.ship-placed {
    @include square;
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 2px;
  }
}
